.top-bar{
    border-bottom: 2px solid rgb(69, 90, 121);
    height: 100px;
    font-family: verdana, "Microsoft Sans Serif", Times, serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.top-bar > h2{
    padding: 0;
    margin: 0;
    color: rgb(69, 90, 121);
}



.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 2rem;
    max-width: 850px;
    margin: 20px auto;
    border: 1px solid rgb(128, 128, 128);
}

.results > h2{
    padding: 10px 0;
    background-color: rgb(113, 125, 125);
    width: 100%;
    text-align: center;
    color: white;
}

.htno{
    display: flex;
    gap: 2rem;
}

.captcha{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.captcha > h3{
    border: 1px solid grey;
    padding-right: 100px;
}

.captcha-type{ 
    position: relative;
    left: 5rem;
}

.btn{
    display: flex;
    gap: 2rem;
}

button{
    background-color: rgb(51, 102, 153);
    color: white;
}

.gif > img{
    display: none;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

@media (max-width: 600px) {

    .results{
        /* width: 100%; */
        font-size: 10px;
    }

    .top-bar > h2{
        font-size: 10px;
    }
}
